<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Register Page</title>
    <link rel="stylesheet" href="AdministratorStyle.css">
</head>
<body>
    <div class="container">
        <div class="AdministratorRegister-container">
            <h2><i>Administrator Register</i></h2>
            <form action="#" th:action="@{/AdministratorRegister}" method="post">
                <div>
                    <label for="adminName">name</label>
                    <input type="text" id="adminName" name="adminName" required>
                </div>
                <div>
                    <label for="adminPassword">password</label>
                    <input type="adminPassword" id="adminPassword" name="adminPassword" required>
                </div>
                <button type="submit"><i>register</i></button>
            </form>
        </div>
    </div>
</body>
</html>