<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link rel="stylesheet" href="UserStyle.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>User Home</h1>
        </header>
        <nav>
            <ul>
                <li><a href="UserFunction1.html">UserFunction1</a></li>
                <li><a href="UserFunction2.html">UserFunction2</a></li>
                <li><a href="UserFunction3.html">UserFunction3</a></li>
                <li><a href="UserFunction4.html">UserFunction4</a></li>
                <li><a href="UserFunction5.html">UserFunction5</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>
